# Laravel
/bootstrap/compiled.php
.env.*.php
.env.php

# PUPHET
/puphpet/*
!/puphpet/config.yaml
!/puphpet/README.md

# Sublime Text IDE
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

# angular-seed
/angular-seed

# MISC
/vendor
composer.phar
.DS_Store
Thumbs.db
_notes
.vagrant
/*.lnk
/bower_components
/node_modules
npm-debug.log

# Brackets IDE
.ftppass
.brackets.json
.grunt*

# PhpStorm IDE
.idea

# Binaries
*.exe
*.app
*.rar
*.zip