body {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

#exclusion-zone {
    background-color: #009900;
    color: #FFF;
}

#non-exclusion-zone {
    background-color: #990000;
    color: #FFF;
}

ul {
    width: 130px;
}

ul li {
    margin-bottom: 1em;
}

.zones {
    background-color: #dfdfdf;
    padding: 10px;
    width: 130px;
}

.spacer {
    display: block;
    height: 1.5em;
}